body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	text-align: center;
}

.return {
	position: fixed;
	top: 0;
	left: 0;
	margin: 5px;
}